[ng-reflect-router-link] {
    cursor: pointer;
  }

  [ng-reflect-router-link]:focus {
    outline: 0 ;
  }

   .add-question {
    position: fixed;
    bottom: 3rem;
    right: 3rem;


  }

mat-spinner {
    position: absolute;
    bottom: 45%;
    left: 35%;
}
