<mat-spinner class = "mat-spinner-class" *ngIf="loading"></mat-spinner>

<div *ngIf="!loading">

  <mat-list>
    <div mat-subheader>Questions</div>
    <mat-list-item *ngFor="let question of questions" [routerLink]="['/questions',question._id]">
        <i *ngIf="question.icon === 'none'" mat-list-icon class="material-icons help">help</i>
        <i *ngIf="question.icon !== 'none'" mat-list-icon class="{{ question.icon }}"></i>
        <div mat-line>{{question.title}}</div>
        <small  mat-line>
          {{question.answers.length }} answers
          - {{question.createdAt | amTimeAgo }}
        </small>
    </mat-list-item>
</mat-list>

</div>


